token: {{ cluster_token }}
tls-san:
    - {{ hostvars["rke2-proxy"].ansible_default_ipv4.address }}
{% for server in groups['control-plane'] %}
    - {{ hostvars[server].ansible_default_ipv4.address }}
{% endfor %}
ingress-controller: {{ ingress_controller }}