# Gather facts of all hosts
- name: "Gather facts"
  hosts: "all"
  gather_facts: "yes"
  tasks: []

- name: "Deploy proxy"
  hosts: "proxy"
  gather_facts: "no"
  roles:
    - "deploy-proxy"

- name: "Install rke2"
  gather_facts: "no"
  hosts:
    - "control-plane"
    - "workers"
  roles:
    - "install-rke2"

- name: "Bootstrap seed node"
  gather_facts: "no"
  hosts: control-plane[0]
  roles:
    - "deploy-control-plane"
  vars:
    cluster_token: super-token
    cni: cilium
    server_action: seed

- name: "Join control-plane nodes"
  gather_facts: "no"
  hosts: control-plane[1:]
  roles:
    - "deploy-control-plane"
  vars:
    cluster_token: super-token
    cni: cilium
    server_action: join

- name: "Deploy worker nodes"
  gather_facts: "no"
  hosts: "workers"
  roles:
    - "deploy-worker"
  vars:
    cluster_token: super-token